.DS_Store
tmux/plugins
vale/styles
.secrets.sh
!aider/.aider.conf.yml
karabiner/automatic_backups

nvim/lazy-lock.json

bettertouchtool/library/Backups
bettertouchtool/library/Logs
bettertouchtool/library/.btt_data_store_SUPPORT
bettertouchtool/library/bettertouchtool.bttlicense

*.rayconfig
