.DS_Store
tmux/plugins
vale/styles
.secrets.sh
!aider/.aider.conf.yml
karabiner/automatic_backups

bettertouchtool/Backups
bettertouchtool/Logs
bettertouchtool/.btt_data_store_SUPPORT
bettertouchtool/btt_data_store*
